.jobs-block {
  // height: 315px;
  display: flex;
  flex-direction: column;
  color: $color_jobs_blue;
  border-radius: 8px;
  text-decoration: none;
  &.white-bgn {
    background-color: #fff;
    border: 1px solid #f5f5f5;
  }
  &:not(.white-bgn) {
    background-color: #f5f5f5;
  }

  &__top {
    padding: 2rem 1.3rem;
    padding-bottom: 0;
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  &__bottom {
    padding: 1rem 2rem 1.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
  }

  &__prelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    img {
      max-height: 46px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      background-color: #dcdcdc;
      height: 1px;
      filter: blur(1px);
    }
  }
  &__pretitle {
    font-size: 1.1rem;
    font-weight: $font_default_weight_light;
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 1.3rem;
    font-weight: $font_default_weight_medium;
    margin-bottom: auto;
    margin-bottom: 2rem;
  }
  &__img {
    display: flex;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    margin-top: auto;
    img {
      width: 100%;
    }
  }
  &__bottom-title {
    margin-bottom: 2rem;
    font-size: .8rem;
    letter-spacing: 2px;
    &.uppercase {
      text-transform: uppercase;
    }
  }
  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    color: #b1b1b1;
    font-size: .8rem;
    &::before {
      content: '';
      display: block;
      width: 3em;
      height: 4px;
      background-color: $color_jobs_blue_light;
      border-radius: 3px;
    }
  }

&:hover {
  background-color: #ffffff;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.12);
  .jobs-block {
    &__bottom {
      background-color: $color_jobs_blue_light;
      color: #ffffff;
      &::after {
        content: '';
        position: absolute;
        right: 2rem;
        bottom: -1rem;
        width: 0;
        height: 0;
        border-left: 2rem solid transparent;
        border-right: 0;
        border-top: 1rem solid $color_jobs_blue_light;
      }
    }
    &__date {
      color: inherit;
      &::before {
        background-color: $color_jobs_blue;
      }
    }
  }
}

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {

} //media
@media (min-width: 1024px) {
  &__top {
    padding: 3rem;
    padding-bottom: 0;
  }
  &__bottom {
    padding: 3rem;
  }
  &__img {
    margin-left: -3rem;
    margin-right: -3rem;
  }
} //media
} // .jobs-block
