.first-section {
  background-image: url('../img/home-pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  &__date {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__breadcrumbs {
    font-size: 0.875rem;
    span {
      color: $color_jobs_blue_light;
      margin: 0 .6rem;
    }
  }
@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  padding: 2rem 0;
  &__text {
    padding-left: 10%;
  }
} //media
@media (min-width: 1024px) {
  padding: 4rem 0;
  &__text {
    padding-left: 25%;
  }
} //media
} //.home-slider
