.header-navigation {
  text-transform: uppercase;
  border-bottom: 1px solid $color_border_header;
  background-color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header_height_medium;
    font-size: 1rem;
  }
  &__logo {
  }

  &__menu {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          font-size: 1rem;
          color: $color_jobs_blue;
          font-weight: $font_default_weight_medium;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: $color_hover_link;
          }
        }
      }
    }
  }

  &__search {
    font-size: 1.5rem;
    color: $color_jobs_blue;
    cursor: pointer;
  }
  &__search-icon {
    padding: .25rem;
  }
  &__search-input {
    padding: 0.7rem 1.3rem;
    font-size: .9rem;
  }
  &__search-submit {
    padding: 0.7rem;
  }

  &__social-share {
    font-size: 1.5rem;
    color: $color_jobs_blue;
    padding: .25rem;
    cursor: pointer;
  }
  &__social-element {
    font-size: 1.75rem;
    color: $color_jobs_blue;
    padding: .25rem;
    display: inline-block;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: .3rem;
    }
  }

  &__lang {
  }
  &__lang-current {
  }
  &__lang-element {
    background-color: $color_jobs_blue;
    color: #fff;
    border-radius: 3px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    &--in-menu {
      margin: .2rem;
    }
  }

  &__menu-mobile.mm-menu {
    z-index: 4;
    background-color: $gray_color_background;
    color: $color_jobs_blue;
    .mm-title {
      color: $color_jobs_blue_light;
    }
  }

  &__hamburger {
    display: flex;
    .hamburger-box {
      width: 25px;
      height: 24px;
      display: inline-block;
      position: relative;
    }
    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2.5px;
      &::before, &::after {
        background-color: $color_hover_link;
        content: '';
        display: block;
      }
      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      content: '';
      display: block;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: $color_jobs_blue;
    }
  }
  &__hamburger.close {
    .hamburger-inner {
      display: none;
    }
    &::after {
      content: 'x';
      position: absolute;
      top: 1.4rem;
      right: 1.5rem;
      font-size: 2.2rem;
      font-family: sans-serif;
      color: $color_jobs_blue
    }
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  &__wrapper {
    height: $header_height_mobile;
  }
  &__logo {
    margin-right: auto;
    img {
      width: 54px;
    }
  }
  &__menu {
    display: none !important;
  }

  &__search,
  &__social {
    margin-right: 1rem;
  }
  &__lang {
    margin-right: 1rem;
  }
} //media
@media (min-width: 1024px) {
  &__hamburger {
    display: none !important;
  }
  &__menu {
    margin-right: auto;
    margin-left: 4rem;
    ul {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child)::after {
          content: '';
          display: block;
          width: 8px;
          height: 4px;
          background-color: $color_jobs_blue_light;
          border-radius: 3px;
          margin: 0 2rem;
        }
      }
    }
  }
  &__search,
  &__social {
    margin-right: 2rem;
  }
  &__lang {
  }
} //media
} // .header-navigation
