.header-navigation {
  text-transform: uppercase;
  border-bottom: 1px solid $color_border_header;
  background-color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header_height_medium;
    font-size: 1rem;
  }
  &__logo {
  }

  &__menu {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          font-size: 1rem;
          color: $color_jobs_blue;
          font-weight: $font_default_weight_medium;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: $color_hover_link;
          }
        }
      }
    }
  }

  &__hamburger {
    display: flex;
    .hamburger-box {
      width: 25px;
      height: 24px;
      display: inline-block;
      position: relative;
    }
    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2.5px;
      &::before, &::after {
        background-color: $color_hover_link;
        content: '';
        display: block;
      }
      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      content: '';
      display: block;
      width: 25px;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: $color_jobs_blue;
    }
  }
  &__hamburger.close::after {
    content: 'x';
    position: absolute;
    top: 1.5rem;
    right: 20px;
    font-size: 2rem;
    font-family: sans-serif;
    color: $color_jobs_blue
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  &__wrapper {
    height: $header_height_mobile;
  }
  &__logo {
    img {
      width: 54px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-top: 1rem;
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: $base_color_background;
    transition: .2s ease;

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;


    &:not(.is-active) {
      opacity: 0;
      pointer-events: none;
    }


    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      li {
        a {
          font-size: 2rem;
          line-height: 4rem;
        }
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 60px;
    }
  }
  &__social {
    display: none;
    margin-right: 1rem;
  }
  &__lang {
    display: none;
  }
} //media
@media (min-width: 1024px) {
  &__hamburger {
    display: none !important;
  }
  &__menu {
    margin-right: auto;
    margin-left: 4rem;
    ul {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child)::after {
          content: '';
          display: block;
          width: 8px;
          height: 4px;
          background-color: $color_jobs_blue_light;
          border-radius: 3px;
          margin: 0 2rem;
        }
      }
    }
  }
  &__social {
    margin-right: 2rem;
  }
  &__lang {
  }
} //media
} // .header-navigation
