.home-offers {
  .section-wrapper {
    max-width: 1650px;
  }

  .text-block {
  }

  &__wrap-with-filter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__filter {
    width: 300px;
    margin: 0 .5rem 1rem;
    flex-shrink: 0;
    padding: 2rem 1rem;
  }
  &__filter-title {
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      background-color: #dcdcdc;
      height: 1px;
      filter: blur(1px);
    }
  }
  &__filter-list {
    li {
      margin-bottom: .75rem;
    }
    a {
      font-size: 0.9rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .jobs-block {
      width: 300px;
      margin: 0 .5rem 3rem;
    }
  }

  &__button {
    text-align: center;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  padding: 2rem 0;
  &__filter {
    display: none;
  }
  &__list {
    .jobs-block {
      margin: 0 .5rem 1rem;
    }
  }
} //media
@media (min-width: 1024px) {
  padding: 4rem 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    height: 27rem;
    z-index: -1;
    pointer-events: none;
  }
} //media
} //.home-offers
