.home-offers {
  margin: 2rem 0;
  .text-block {
    margin-bottom: 4rem;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }




@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {

} //media
@media (min-width: 1024px) {
  margin: 4rem 0;
} //media
} //.home-oggers
