.jobs-search {
  padding: 2rem 0;
  &__form {
    display: flex;
    justify-content: center;
  }

  .jobs-input {
    margin: .2rem .1rem;
    width: 100%;
    max-width: 350px;
  }
  .jobs-btn {
    margin: .2rem;
    cursor: pointer;
  }

  &.inverted-color {
    position: relative;
    color: white;
    background-color: $color_jobs_blue;
    background-image: url('../img/home-pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    .title-normal {
      color: #fff;
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  &__form {
    flex-direction: column;
    align-items: center;
  }
} //media
@media (min-width: 1024px) {
  padding: 4rem 0;
} //media
} //.jobs-search
