$font_default: 'Ubuntu', sans-serif;
$font_default_weight: 400;
$font_default_weight_light: 300;
$font_default_weight_medium: 500;
$font_default_weight_bold: 700;

$base_color_background: #ffffff;
$gray_color_background: #f8f8f8;

$color_jobs_blue: #2e368e;
$color_jobs_blue_light: #29aae1;
// $color_jobs_gray: #848484;

$color_hover_link: $color_jobs_blue_light;

$color_border_header: transparent;

$header_height_medium: 160px;
$header_height_mobile: 80px;

$width_wrapper: 1300px;
$padding_wrapper: 24px;

$jobs_block_width: 300px;
$jobs_block_margin_side: 8px;

$background_about: $color_jobs_blue;

$background_footer: $color_jobs_blue;
