$font_default: 'Lato', sans-serif;
$font_default_weight: 400;
$font_default_weight_light: 300;
$font_default_weight_medium: 500;
$font_default_weight_bold: 700;

$base_color_background: #ffffff;

$color_hover_link: #29aae1;
$color_jobs_blue: #2e368e;
$color_meamo_gray: #848484;

$color_border_header: transparent;

$header_height_medium: 160px;
$header_height_mobile: 80px;

$width_wrapper: 1300px;
$padding_wrapper: 1.5rem;

$background_about: $color_jobs_blue;

$background_footer: $color_jobs_blue;
